<%= form_for(@test_username) do |f| %>
  <% if @test_username.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@test_username.errors.count, "error") %> prohibited this test_username from being saved:</h2>

      <ul>
      <% @test_username.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :picture %><br>
    <%# f.text_field :picture %>
    <%= f.file_field :picture %> 
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
