<h1>Listing test_usernames</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Picture</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @test_usernames.each do |test_username| %>
      <tr>
        <td><%= test_username.name %></td>
        <td><%= test_username.description %></td>
        <td><%= test_username.picture %></td>
        <td><%= link_to 'Show', test_username %></td>
        <td><%= link_to 'Edit', edit_test_username_path(test_username) %></td>
        <td><%= link_to 'Destroy', test_username, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Test username', new_test_username_path %>
