<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @test_username.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @test_username.description %>
</p>

<p>
  <strong>Picture:</strong>
  <%# @test_username.picture %>
  <%= image_tag(@test_username.picture_url, :width => 600) if @test_username.picture.present? %>
</p>

<p>
  <strong>Previous Queries:</strong>
  <%= @test_username.description %>
</p>

<%= link_to 'Edit', edit_test_username_path(@test_username) %> |
<%= link_to 'Back', test_usernames_path %>
