
<h1 align = center >Imports & exports of <%= @country.name %> for the year <%= params[:year] %></h1>

<p><%= bar_chart @CYdata, @CYoptions %></p>
  <table class="table table-bordered" style="width: auto;" align = center>
<h1 align = center > <%= @country.name %> table</h1>
          <tr>
            <th>Sl.</th>
            <th>Commodity</th>
            <th>Export Volume</th>
            <th>Import Volume</th>
          </tr>
            <% count = 0 %>
  <% @CYdisplayTableValues.each do |commodity_row|%>
        
          <tr>
            <% count = count +1 %>
            <td><%=  count %></td>
            <td><%= commodity_row[0] %></td>
            <td><%= commodity_row[1] %></td>
            <td><%= commodity_row[2] %></td>
          </tr>
         <% end %>
        </table>