<h1>Commodities#index</h1>
<!-- <p>Find me in app/views/commodities/index.html.erb</p> -->

<h1>Listing Commodities</h1>

<% @commodities.each do |commodity| %>
<%= commodity.name %>
<%= commodity.code %> | <%= link_to "Delete", commodities_delete_path(:id => commodity.code) %> |
<%= link_to 'Edit', edit_commodity_path(commodity) %> |
<%= link_to 'Show', commodity_path(commodity) %>
<br>

<% end %>
