<!--- commodity show -->
<h1 align = center > <%= @commodity.name %> details for <%= Country.find(@country_code).name %> between <%= @start_year %> and <%= @end_year %></h1>
<div class="text-center"> <%= link_to 'Back', commodities_path, class:"btn btn-danger"%> </div>
<%= line_chart @data, @options %>
  
