<!-- <p>Find me in app/views/trades/index.html.erb</p> -->
<table class="table table-bordered" style="width: auto;" align = center>
<h1 align = center>Listing Trades</h1>
 <tr>
            <th>Year</th>
            <th>Exporter</th>
            <th>Importer</th>
            <th>Commodity</th>
            <th>Volume (USD)</th>
          </tr>
<% @trades.each do |trade| %>
<tr>
<td><%= trade.year %> </td>
<td><%= link_to(Country.find(trade.exporter_code).name, country_path(trade.exporter_code)) %> </td>
<td><%= link_to(Country.find(trade.importer_code).name, country_path(trade.importer_code)) %> </td>
<td><%= link_to(Commodity.find(trade.commodity_code).name.truncate(80, separator: /\s/), commodity_path(trade.commodity_code)) %></td>
<td><%= trade.volume %></td>
</tr>
<% end %> 
</table>