<h1>Trades#index</h1>
<!-- <p>Find me in app/views/trades/index.html.erb</p> -->

<h1>Listing Trades</h1>

<% @trades.each do |trade| %>
<%= trade.year %> 
<%= Country.find(trade.exporter_code).name %> 
<%= Country.find(trade.importer_code).name %> 
<%= Commodity.find(trade.commodity_code).name%>
<%= trade.volume %> <br>
<% end %> 
